body {
    background-color: rgb(29, 116, 151);
}

h2 {
    color: rgba(247, 247, 247, 0.925);
}

p {
    font-size: 17px;
}
article {
    background-color: #e44089; /* licht roze */
    padding: 20px;
    border: 3px solid #fdf1f7; /* donker roze */
    margin: 25px;
} 
